table {
}

td{
padding-bottom:8px;
padding-right:8px;
}

.lable{
padding-right:30px;
}

input[type="text"]
{

border-color:green;
}
#border{
border-color:green; 
}
#gr1{
margin-left:50px;
padding-left:40px;
padding-right:40px;
}
#gr2{
padding-left:40px;
padding-right:40px;
}

