<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>gms.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLoginServlet</servlet-name>
        <servlet-class>gms.servlet.ValidateLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createGroupServlet</servlet-name>
        <servlet-class>gms.servlet.createGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserGroupServlet</servlet-name>
        <servlet-class>gms.servlet.DeleteUserGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserGroupServlet</servlet-name>
        <servlet-class>gms.servlet.CreateUserGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLoginServlet</servlet-name>
        <url-pattern>/ValidateLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createGroupServlet</servlet-name>
        <url-pattern>/createGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserGroupServlet</servlet-name>
        <url-pattern>/DeleteUserGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserGroupServlet</servlet-name>
        <url-pattern>/CreateUserGroupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
